@model WebbLab3.Showing

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Showing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salon.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
