@model IEnumerable<WebbLab3.ShowingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Shows</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Date", "Index", new { sorting = ViewBag.DateTimeSorting })

            </th>
            <th>
                Movie
            </th>
            <th>
                @Html.ActionLink("Tickets", "Index", new { sorting = ViewBag.TicketsSorting })
            </th>
            <th>
                Salon
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Tickets > 0 ? "White" : "Red")">
                <td>
                    @Html.DisplayFor(modelItem => item.MovieDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalonName)
                </td>
            </tr>
        }
    </tbody>
</table>
