@model IEnumerable<WebbLab3.ShowingViewModel>
@{
    ViewData["Title"] = "BookTickets";
}

<h2>BookTickets</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Date", "Index", new { sorting = ViewBag.DateTimeSorting })
            </th>
            <th>
                Movie
            </th>
            <th>
                @Html.ActionLink("Tickets", "Index", new { sorting = ViewBag.TicketsSorting })
            </th>
            <th>
                Salon
            </th>

            <th>
                Book Tickets
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Tickets > 0 ? "White" : "Red")">
                <td>
                    @Html.DisplayFor(modelItem => item.MovieDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalonName)
                </td>
                <td>
                    @if(item.Tickets > 0){
                        <a class="btn btn-default" asp-action="BookNow" asp-controller="Bookings" asp-route-id="@item.Id">Book Now</a> 
                    }else
                    {
                        <strong>Tickets Sold OUT!</strong>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
